
/* GS3 Hustralge */
@font-face {
  font-family: 'GS3 Hustralge';
  src: url('/src/fonts/GS3 Hustralge Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* GS3 Sachsenwald */
@font-face {
  font-family: 'GS3 Sachsenwald';
  src: url('/src/fonts/GS3 Sachsenwald Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* GS3 ITC Giovanni */
@font-face {
  font-family: 'GS3 ITC Giovanni';
  src: url('/src/fonts/GS3 ITC Giovanni Std Book.ttf');
  font-weight: 400;
  font-style: normal;
}

/* NeueFrutigerWorld - Thin */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-ThinIt.otf');
  font-weight: 100;
  font-style: italic;
}

/* NeueFrutigerWorld - Ultra Light */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-UltLt.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-UltLtIt.otf');
  font-weight: 200;
  font-style: italic;
}

/* NeueFrutigerWorld - Light */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-LightIt.otf');
  font-weight: 300;
  font-style: italic;
}

/* NeueFrutigerWorld - Regular */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-It.otf');
  font-weight: 400;
  font-style: italic;
}

/* NeueFrutigerWorld - Book */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Book.otf');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-BookIt.otf');
  font-weight: 450;
  font-style: italic;
}

/* NeueFrutigerWorld - Medium */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-MediumIt.otf');
  font-weight: 500;
  font-style: italic;
}

/* NeueFrutigerWorld - Bold */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-BoldIt.otf');
  font-weight: 700;
  font-style: italic;
}

/* NeueFrutigerWorld - Heavy */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Heavy.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-HeavyIt.otf');
  font-weight: 800;
  font-style: italic;
}

/* NeueFrutigerWorld - Black */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-BlackIt.otf');
  font-weight: 900;
  font-style: italic;
}

/* NeueFrutigerWorld - Extra Black */
@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-XtraBlk.otf');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'NeueFrutigerWorld';
  src: url('/src/fonts/NeueFrutigerWorld-XtraBlkIt.otf');
  font-weight: 950;
  font-style: italic;
}