
/* GS3 Hustralge */
@font-face {
  font-family: 'GS3 Hustralge';
  src: url('/src/fonts/GS3 Hustralge Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* GS3 Sachsenwald */
@font-face {
  font-family: 'GS3 Sachsenwald';
  src: url('/src/fonts/GS3 Sachsenwald Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* GS3 ITC Giovanni */
@font-face {
  font-family: 'GS3 ITC Giovanni';
  src: url('/src/fonts/GS3 ITC Giovanni Std Book.ttf');
  font-weight: 400;
  font-style: normal;
}